# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Python egg files
*.egg-info/
dist/
build/

# Logs
*.log